.page {
  direction: rtl;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page h1 {
  margin: 50px 0px 100px;
}
.inp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 20px 0;
}
label {
  padding: 10px;
  margin: 0 0 0 50px;
  font-weight: bold;
  font-size: 18px;
}
#text1,
#text2,
#text3 {
  padding: 10px;
  outline: none;
}
#num {
  padding: 10px;
  outline: none;
}
#sub {
  padding: 10px;
  background-color: #00b0ff;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}
#result {
  /* background-color: antiquewhite; */
  color: black;
  padding: 20px;
}
